# Python
__pycache__/
*.pyc
*.egg-info/
dist/
build/

# Entorno virtual
venv/
.venv/

# Variables de entorno
.env

# Datos (mantener .gitkeep)
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/autocitas_v1.csv
data/external/*
!data/external/.gitkeep

# Logs
logs/*.log

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
